/* responsible web */
@media screen and (min-width: 768px) and (max-width: 959px) {
    .footer{
        grid-area: footer;
        position: relative;
        width: 768px;
        box-sizing: border-box;
        height: 40px;
        border: 1px dotted green;
    }
}

@media screen and (max-width: 767px) {
    .footer{
        grid-area: footer;
        position: relative;
        width: 480px;
        box-sizing: border-box;
        height: 40px;
        border: 1px dotted green;
    }
}

@media screen and (min-width: 960px) {
    .footer{
        grid-area: footer;
        position: relative;
        width: 960px;
        box-sizing: border-box;
        height: 40px;
        border: 1px dotted green;
    }
}